<!doctype html>
<html lang="en" ng-app="waazdohApp">
<head>
<meta charset="utf-8">
<title>Collabthings</title>

<meta name=viewport content="width=device-width, initial-scale=1">

	<link rel="stylesheet"
		href="@CDN_BOOTSWATCH_CSS@/bootstrap.min.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/animations.css">

	<script
		src="@CDN_CLOUDFLARE@/jquery/2.1.3/jquery.min.js"></script>
	<script
		src="@CDN_CLOUDFLARE@/angular.js/1.5.3/angular.min.js"></script>
	<script
		src="@CDN_CLOUDFLARE@/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
	<script
		src="@CDN_CLOUDFLARE@/angular.js/1.5.3/angular-resource.min.js"></script>
	<script
		src="@CDN_CLOUDFLARE@/angular-ui/0.4.0/angular-ui.min.js"></script>
	<script
		src="@CDN_CLOUDFLARE@/angular-ui-bootstrap/1.2.5/ui-bootstrap-tpls.min.js"></script>
	<script
		src="@CDN_CLOUDFLARE@/js-yaml/3.6.1/js-yaml.js"></script>
	<script
		src="@CDN_CLOUDFLARE@/angular.js/1.5.3/angular-cookies.min.js"></script>

	<script src="@CDN_BOOTSTRAP_JS@/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>

	<script src="js/settings.js"></script>
	<script src="js/oauth.min.js"></script>
	<script src="js/debug.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/services.js"></script>

</head>

<body>
	<nav ng-controller="NavbarCtrl" ng-show="shownav" class="ng-hide" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ui-sref="/">Collabthings</a>
			</div>

			<div id="navbar"
				class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
				</ul>
				<div class="navbar-text navbar-right ng-hide" ng-show="navbarinit">
					<div ng-show="session.isloggedin == true" class="ng-hide" >
						<a ui-sref="profile" class="navbar-link">{{ session.name }}</a> <a
							ng-click="logout()">Logout</a>

					</div>
					<div ng-if="session.isloggedin == false">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary btn-lg" ng-click="loginOpen()">
						  Login
						</button>
					</div>
				</div>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>


	<div class="container">
		<div ui-view>
		<div>
		CollabThings is a platform to store, share in a designs of machines and constructions, scripts and instructions how those are manufactured and maintained. Everything piece is linked together and everything is automatically shared through service and p2p -network. You can take any design, edit and publish it.
The idea is to define how to build for example a hair dryer, what parts are needed and how they are put together. What tools and what kind of robot is needed to assembly it. If somebody wants to make a better design or update the software that is needed, anyone gets those updates. If you want to create something else using some of the parts of hair dryer, that is great because we already know how to build those parts and how to use them.
The platform is designed so that, it should handle cities as well as small parts. With some work you should be able to take a city and zoom in to some bolt somewhere.
Dynamic information about built parts, resources and skills people have will probably be stored in a network of services that can be searched based on location. Identifier of a part works as a link to CollabThings.

Facebook page:
https://www.facebook.com/collabthings/
Development group:
https://www.facebook.com/groups/512611678930024/

Project trello:
https://trello.com/b/v1paC0sq/project
		</div>
	</div>

	<div ng-controller="DebugCtrl" ng-show="showdebug" class="ng-hide" id="debug">
	</div>
</body>
</html>
