<div class="page-header">...</div>

<div class="row">
	<div ng-controller="newObjectsCtrl" class="col-md-6">
		<div ng-repeat="(key, value) in objects"> 
			<h3>{{value.name}}{{value.content.name}}</h3>
			<p>{{value.type}} by {{value.creator.username}} at {{value.modified}}</p>
		 </div>
	</div>
</div>

<div class="row">
	<h2>New users</h2>
	<div ng-controller="newUsersCtrl" class="col-md-6">
		<div ng-repeat="(key, value) in users"> 
			<h3>{{value.username}}{{value.content.username}}</h3>
		 </div>
	 </div>
</div>
